@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
  /* background-color: red; */
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border-radius: 3px;
  padding: 10px;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 0;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  text-align: center;
}

header h1 {
  text-align: center;
  padding-left: 7px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
  align-items: center;
}
nav h1 {
  margin: auto;
  line-height: 1.1;
}
nav h1 a {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 7px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 80px 0 0 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 250px;
  width: 100%;
  background-color: #ccc;
}

.list-page #map {
  margin-top: 80px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
  padding: 20px 0;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}

.dropdown-container {
  width: 100%;
}

.dropdown-container button {
  width: 100%;
  font-size: inherit;
  border-radius: 5px;
  text-align: left;
}

.dropdown {
  margin-top: -5px;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.dropdown li {
  font-size: 16px;
  padding: 5px;
}

.dropdown li:hover {
  background-color: #efefef;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.text-ctn {
  padding: 0 20px 20px 18px;
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
#footer {
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  border-radius: 20px 0 0 0;
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container h1 {
  margin-top: 0;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 20px;
  width: 100%;
}

/* ====================== Reviews ====================== */

.review-heading {
  background-color: #252831;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 0 0 0;
}

.review-heading p {
  color: white;
  margin: 0;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 15px 0 0 0;
}

#reviews-list li:last-child {
  margin-bottom: 0;
}

.review-details {
  padding: 15px;
}

.review-rating {
  background-color: #f18200;
  color: white;
  padding: 4px 10px;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
}

#restaurant-hours td {
  color: #666;
}

@media only screen and (min-width: 400px) {
  /* list */
  #restaurants-list li {
    width: 45%;
    margin: 15px 1.65%;
  }
}

@media only screen and (min-width: 800px) {

  /* generic classes */
  .container {
    max-width: 1170px;
    padding: 0 40px;
  }

  /* filter */
  .filter-options .container {
    display: flex;
    justify-content: center;
  }

  .filter-options select {
    width: 300px;
    margin: 0 0 0 15px;
  }

  .filter-options h2 {
    height: 35px;
    margin: 0;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .dropdown-container {
    width: 300px;
  }
  
  .dropdown-container button {
    width: 300px;
  }

  /* list */
  .list-page #map {
    height: 400px;
  }

  #restaurants-list li {
    width: 30%;
  }

  #restaurant-container, #reviews-container {
    width: 50%;
  }

  /* restaurant page */
  .inside #map {
    height: 100%;
  }

  .inside #map-container {
    height: calc(100% - 80px);
    right: 0;
    top: 80px;
    position: fixed;
    width: 50%;
  }

  .inside #footer {
    width: 50%;
    display: flex;
    align-items: center;
  }


}